---
layout: compress
format: frontpage
---
<!doctype html>
<html class="no-js" lang="{% if site.language == nil %}en{% else %}{{ site.language }}{% endif %}">
<head>
    {% include _head.html %}
</head>
<body id="top-of-page" class="{{ layout.format }}">
    {% unless page.skip_boilerplate %}
    {% include _navigation.html %}
    {% endunless %}

    {% include _masthead.html %}
    {{ content }}

    {% unless page.skip_boilerplate %}
    {% include _footer.html %}
    {% endunless %}

    {% include _footer_scripts.html %}
</body>
</html>
